---
import banner from '../../images/image.jpg';
---

<section class="banner mt">
   <h2 class="heading text-left mwidth">Complex Documentation</h2>
   <p class="subtitle text-left mwidth">From colors, cards, typography to complex elements, you will find the full documentation. Play with the utility classes and you will create unlimited combinations for our components.</p>
</section>