---
import Navbar from './Navbar.astro';
const companyName = 'Sinergitec Mexico';
---
<header class="header">
   <div class="header__container">
      <Navbar></Navbar>
      <div class="header__hero">
         <h1 class="heading">{companyName}</h1>
         <p class="subtitle">Start the Development With Bootstrap 5 Design System inspired by Material Design.</p>
      </div>
   </div>
</header>