---
import Layout from '../layouts/main.astro';
// componentes
import Hero from '../components/landingpage/Hero.astro';
import Customer from '../components/landingpage/Customer.astro';
import Service from '../components/landingpage/Service.astro';
import Benefit from '../components/landingpage/Benefit.astro';
import Banner from '../components/landingpage/Banner.astro';

---
<Layout title = "Bienvenidos a sinergitec">   
   <Hero></Hero>
   <main class="main container">
      <Customer></Customer>
      <Service></Service>
      <Benefit></Benefit>
      <Banner></Banner>
   </main>
</Layout>
