<nav class="nav nav__container">
   <a href="#" class="logo">SinergiTec</a>

   <ul class="nav__ul">
      <li class="nav__li">
         <a href="" class="nav__link"> <i class='bx bx-home-alt-2' style='color:#344767'  ></i> Inicio</a>
      </li>
      <li class="nav__li">
         <a href="" class="nav__link"><i class='bx bx-laptop'></i>Servicios</a>
      </li>
      <li class="nav__li">
         <a href="" class="nav__link"><i class='bx bx-support' style='color:#344767' ></i>Tecnologias</a>
      </li>
      <li class="nav__li">
         <a href="" class="nav__link"><i class='bx bxs-business'></i>Industrias</a>
      </li>
      <li class="nav__li">
         <a href="" class="nav__link nav__link-active"><i class='bx bxs-contact' style='color:#ffffff'  ></i> Contacto</a>
      </li>
   </ul>
</nav>