.nav{
   position:fixed;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   top:3rem;
   left: 0;
   right:0;
   background:rgb(255 255 255/.97);
   padding:1rem 2rem;
   border-radius:var(--borderR);
   overflow: hidden;
   box-shadow: 0px 0px 12px 0px rgba(128, 128, 128, 0.231);
   max-width:1200px;
   margin: 0 auto;
   width:95%;
   z-index: 5;
   transition: clip-path .10s;
}
.nav__toggle{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width:100%;
}
.logo{
   color: var(--textColor);
   font-weight: 700;
   font-size:var(--paragraphSize);
   padding:.5rem;
   border-radius:.5rem;
}
.nav__ul{
   display:var(--active);
   gap:2rem;
   width:100%;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   transition: clip-path .10s;
}
.nav__li{
   display: flex;

}
.nav__link{
   color: var(--textColor);
   font-weight:500;
   font-size:var(--paragraphSize);;
   display: flex;
   justify-content: center;
   align-items: center;
   gap:.5rem;
}
.bx{
   font-size:var(--paragraphSize);;
}
.toggles{
   font-size:3rem;
}
.nav__link-active{
   background: var(--Moderate-green);
   color:var(--blanco);
   padding:1rem 3rem;
   border-radius:.5rem;
}

.actived{
   --active: flex;
   flex-direction: column;
   padding:2rem .5rem;
   clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
   transition: clip-path .10s;
}
@media(min-width:968px){
   .nav{
      flex-direction:row;
      align-items: center;
   }
   .toggles{
      display: none;
   }
   .nav__ul{
      display: flex;
      flex-direction:row;
      padding: 0;
   }
}